@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

button:focus {
    outline: 2px solid #007BFF;
}



.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
}
